body
  margin: 0
  padding: 0
  background-color: #EEEEEE
  height: 100vh

#login .container #login-row #login-column #login-box
  margin-top: 120px
  max-width: 600px
  height: 320px
  border: 1px solid #FFCC33 // Theta Tau Gold
  border-radius: 8px
  background-color: #EDEAB5 // Theta Tau Off-White

#login .container #login-row #login-column #login-box #login-form 
  padding: 20px

#login .container #login-row #login-column #login-box #login-form #register-link 
  margin-top: -85px

#login .text-OT
  color: #8B0000 // Theta Tau Dark Red

